.wine__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wine__email select,
.wine__email input {
  width: 31%;
  margin: 5px;
  background: #FFFFFF;
  border: 1px solid #D7DEE9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding-left: 20px; }

.form__email_btn {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #1B357D;
  width: 31%;
  margin: 5px;
  background: #FBEB00;
  border: none; }

.wine__email select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #FFFFFF url("../img/path-img.png") no-repeat right center;
  background-position-x: 97%; }

@media screen and (max-width: 636px) {
  .wine__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .wine__email select,
  .wine__email input,
  .form__email_btn {
    width: 100%; }
  .form__email_btn {
    height: 50px; } }
